@charset "utf-8";
* { margin:0; padding:0; box-sizing:border-box; }
a, li { list-style:none; text-decoration:none; color:black;  }
img, fieldset { border:0; vertical-align:middle; }
address, em { font-style:normal; }
body { font:12px 'ZCOOL KuaiLe', cursive; margin:0 auto;box-sizing:border-box;}

@media screen and (min-width:761px) {
	#all { height:3800px; }
	#right {  transition:all 0.5s; margin-left:0%; }
	section { position:absolute; width:900px; right:15%; left:5%; top:3%; margin-top:180px; }
		#coffee { position:absolute; top:-20000px; }
	
/*--------- about ---------*/
	#about {  position:absolute; width:70%; height:680px; left:5%; right:10%; }
	#skills .bar { width:90%; margin-top:8%; }
	
/*--------- works ----------*/
	#works  { position:absolute; width:70%; height:850px; left:5%; right:10%;  text-align:center; margin:0 auto; }
	
	
/*--------- contact ----------*/
	#table { position:absolute; width:70%; height:760px; top:75%; width:70%; left:5%; margin-bottom:-50%; right:10%; }
	#table #my { position:absolute; top:0;  left:10%;  width:30%; height:100%; }
		#table form { position:absolute; top:0; left:50%; width:55%; height:100%; z-index:1000000000;  }
		
	#worksMobile  { position:absolute; top:-20000px; }
	#background { position:absolute; top:0%; left:-20%; right:0%; width:200%; height:1950px; background:#eeeeee;    z-index:-10;}

}

