@charset "utf-8";
* { margin:0; padding:0; box-sizing:border-box; }
a, li { list-style:none; text-decoration:none; color:black;  }
img, fieldset { border:0; vertical-align:middle; }
address, em { font-style:normal; }
body { font:12px 'ZCOOL KuaiLe', cursive; margin:0 auto;}
#wrapper { width:900px;   }

#menu.fix { position:fixed; top:-160px; animation:headFix1s; }

	@keyframes headFix { 
		0% { transform:translateY(0px);}
		100% { transform:translateY(0px);}
	}
	

#menu.fix1 { position:fixed; top:0px; animation:headFix1s; }

	@keyframes headFix { 
		0% { transform:translateY(0px);}
		100% { transform:translateY(0px);}
	}