* { margin:0; padding:0; text-decoration:none; color:black; box-sizing:border-box; }
li {list-style-type:none; }
img, fieldset {border:none; vertical-align:bottom; }
address, em { list-style:normal; }
table { border-collapse:collapse; }
table, th, td { border:1px solid #000; }
h2, h3 { font-weight:normal; }
/* reset.css */


body{ margin:0 auto;  width:1200px; color:#666666;  }
header { width:1200px; height:130px; /*outline:1px solid red;*/ }
header h1 {  padding:5px; }
header h1 img { width:132px; height:100px; }
nav { width:1200px; height:70px; background-color:#40a3e4; text-align:center; border:1px solid black; }


/* 상단 메뉴 */
.main { float:right; /**/}
#total { border:2px solid gray; width:1204px; }
.main>li {  z-index:10000; float:left; width:300px; height:70px; text-align:center;  position:relative; transition:all 0.4s; }
.main>li h2 { line-height:70px; }
.main>li a {   display:block; color:#6a6a6a; font-size:20px; }

.main li h2:hover, .main li a:hover { color:#fff; background-color:#6a6a6a; }


/* 상단 서브메뉴 */
.submenu { display:none; background-color:#6a6a6a; position:absolute; z-index:100; width:100%; margin-bottom:10px;  }
.submenu>li { color:white; transition:all 0.4s; top:2px; width:300px; height:70px; text-align:center;  z-index:100; line-height:70px; text-align:center; background-color:#40a3e4;  font-size:30px; font-color:#666666; }
.submenu>li:hover { background-color:#666666; }
.submenu>li a:hover { color:white; }

section { position:relative; width:1200px; height:830px; /*outline:1px solid red;*/ }
#mainimage { overflow:hidden; position:relative; width:1200px; height:350px; vertical-align:center; }
#mainimage h2 { z-index:1000; position:absolute; left:50%; top:50%; padding:10px;  line-height:200%; margin-left:-300px; margin-top:-80px; width:600px; margin-top:-70px;  height:140px; text-align:center; font-size:30px; background-color:#ffffff; opacity:0.7; border-radius:20px; vertical-align:center; line-height:40px; }
#mainimage img { width:1200px; height:350px; }
#mainimage span { font-size:40px; color:#40a3e4; }
#mainimage li.first{ left:0; }
#mainimage li { position:absolute; left:-1201px;  }
#mainimage ul { width:3600px; height:350px; }







/* 공지사항 및 수강후기 2가지 메뉴 */
#banner { position:relative; width:1200px; height:280px; margin:20px 0; }
#banner div { float:left; width:380px; height:280px;  }
#banner .notice dt { position:absolute; left:0; top:0px; font-size:20px; border-bottom:none; border:2px solid black; border-radius:5px 5px 0 0; }
#banner .notice dt.noticeTab { position:absolute; left:0; top:-2px; left:10px; background-color:#40a3e4; }
#banner .notice dt.noticeTab a { border-bottom:none; color:#ffffff; }


/* 공지사항 및 수강후기 하단 리스트 */
#banner .notice dl dd { width:380px; height:240px; position:absolute; left:0;  top:27px; /*공지사항 하단 문제 해결 */  border-top:2px solid #000; font-size:15px; }
#banner .notice dd {  padding-top:10px; }
#banner .notice li { cursor:pointer; width:380px;  }		
#banner .notice .nTab { padding-bottom:-10px;  }
#banner .notice dd li:hover { width:380px; background:#40a3e4;  }            /* 공지사항 파란색 배경 */



#banner .notice .content1 li { width:380px; margin-bottom:15px; }		/* 문제 발견 li 가로 폭 확장*/
#banner .notice .content2 li { width:380px; margin-bottom:15px; }		/* 문제 발견 li 가로 폭 확장*/


			  /* 공지사항 파란색 배경 */
#banner .notice .content1 li span, .content2 li span { position:absolute; right:10px;}
#banner .notice dt.hideTab, .noticeTab { padding-left:5px; left:100px; z-index:999; border-bottom:none; z-index:100; /*display:none; */ }
#banner .notice .content2 ul { display:none; /**/}




/* 학원 안내 */
#banner .middle { position:relative; margin-left:20px; }
#banner .middle dt { font-size:20px; border-bottom:2px solid #000;  }
#banner .middle .line { width:380px; top:29px; left:0; /* */  }
#banner .middle dd { font-size:20px; }
#banner .middle dd ul { margin-top:15px; cursor:pointer; }
#banner .middle dd li { width:380px; height:70px; border:1px solid #666666; border-radius:10px; margin-bottom:8px; line-height:70px; }
#banner .middle dd li a {  display:inline-block; position:relative; margin-left:-10px; bottom:5px;  }
#banner .middle dd li .aL1, .aL2, .aL3, .aL4, .aL5, .aL6 { position:relative; top:-10px; left:85px; }

#banner .middle dd li .info1 { width:53px; height:50px; position:relative; top:-5px; }
#banner .middle dd li .info2 { width:53px; height:50px; position:relative; top:-5px;  }
#banner .middle dd li .info3  { width:53px; height:50px; position:relative; top:-5px;  }
#banner .middle .img { width:80px; height:50px; position:relative; top:-10px; }
#banner .middle dd li img:hover { color:#40a3e4; }

#banner .middle dd ul:hover { color:#40a3e4; }
#banner .middle dd ul a:hover { color:#40a3e4; }	
#banner .middle dd ul a:hover { color:#40a3e4; }/* text color도 바꾸기 */
#banner .middle dd span:hover { color:#40a3e4; }
#banner .middle dd:hover { color:#40a3e4; }
#banner .middle li img { width:15px; height:30px; margin-left:20px; margin-bottom:6px;  }
#banner .middle .aL1, .aL3, .aL5 { opacity:0; position:relative;  }


				  /* 학원안내 애니메이션 효과 */
				   .middle li:hover .aL2 { animation:ani 1s 0.2s infinite; }
				   .middle li:hover .aL4 { animation:ani 1s 0.1s infinite; }
				   .middle li:hover .aL6 { animation:ani 1s 0.1s infinite; }
				  


				   @keyframes ani{
										  0% { left:0px; opacity:0; }	
										  100% { left:90px; opacity:1; }
				    }
	
/* 현장 스케치 */
#banner .right { margin-bottom:px; float:right; width:380px; height:280px; position:absolute; top:0px; right:0; overflow:hidden; margin-left:20px;  padding-bottom:20px;}
#banner {  }
#banner .right dt a {  font-size:20px; padding-top:10px;  }
#banner .right img { z-index:-10px; border-top:2px solid #000; padding-top:10px;}

#banner .right .window { width:380px;  height:260px; position:absolute; top:0px; margin-top:25px; bottom:-240px; cursor:pointer; /*background:rgba(0,0,0,0.5); */ outline:1px solid white; text-align:center; }
#banner .right .window .black {color:#fff;  width:400px;  height:280px; position:absolute; top:-15px; left:-20px; bottom:-260px; background:rgba(0,0,0,0.5); }
#banner .right .window1 { width:360px; height:220px; border:1px solid #fff; margin:10px 0 0 10px; padding-top:0px; position:absolute; top:10px; }
#banner .right p { font-weight:bold; }
			#banner p:nth-of-type(1) { color:#40a3e4; margin-bottom:10px; margin-top:80px; }
			#banner p:nth-of-type(2) { color:#fff; font-size:35px; margin-bottom:20px; } 
			#banner p:nth-of-type(3) { background-color:#000;  /**/ color:#fff; width:80px; height:30px; line-height:30px; margin-left:140px; }

/* 팝업 */


#popup {  position:absolute; margin-left:-200px; top:50%; left:50%;  width:400px; height:400px; box-shadow:3px 3px 10px #333; background:url(../images/seminar.jpg); background-size:cover; z-index:9999; display:none; }
				
				#popup .top {  position:relative; top:15px; left:20px; width:360px; height:100px; background:#fff; border-radius:15px; text-align:center; line-height:100px; margin-bottom:20px; }
				#popup .top p { font-weight:bold;  color:#40a3e4; font-size:30px; }
					
				#popup .bottom {  position:relative; top:15px; left:20px; width:360px; height:200px; background:#fff; border-radius:15px; text-align:center; }
				#popup .bottom p {  position:relative; top:60px; left:20px; color:#666666; font-size:20px; line-height:30px; text-align:justify; font-weight:bold; }
				
				/*닫기*/	
				p.close { position:absolute;  bottom:10px; right:10px; font-size:18px; font-weight:bold; cursor:pointer; color#000; }




/* 하단 이미지 슬라이드 */
#bottombanner { position:relative; width:1200px; height:200px; overflow:hidden; }
#bottombanner ul{ width:4200px; height:160px; position:absolute; }
#bottombanner li { position:absolute; width:300px; height:160px; padding-top:40px; font-size:30px; text-align:center; background-color:#6a6a6a; color:#ffffff; }
#bottombanner li:nth-child(2n) { width:300px; height:160px; background-color:#40a3e4; }


/* footer 아래 */
footer { width:100%; height:150px; background-color:#6a6a6a; margin-top:20px; color:#ffffff; text-align:center;}
footer h1 { float:left; }
footer h1 img { padding:30px; }
footer ul ul { outline:1px solid red; }
footer ul li { clear:both; display:inline-block; margin-top:20px; line-height:50px; }
footer small { padding-top:5px; color:#ffffff;  }
footer address { font-style:normal; line-height:20px; color:#ffffff; }
footer ul li a { color:#ffffff; }

